.bg-gradient-pink{
     --bs-bg-opacity:1;
     background-color:#6C757D;
}
.btn-pink{
     --bs-bg-opacity:1;
     background-color:#6C757D;
     color: #fff;
     border-color: #6C757D;
  }
.bg-pink{
     --bs-bg-opacity:1;
     background-color:#6C757D;
   }
   .bg-gradient-white{
     --bs-bg-opacity:1;
     background-color:#FFF;
}
.no-hover:hover{
     text-decoration: none;
}